/* Estilos para la página web */

body {  
    background-color: #5c0f0f;  
    font-size: 16px;
    }
    h2{
        color: blanchedalmond;
    }
    p {
        color: #d5bdaf;
    }
.encabezado {  
text-align: center;  
text-transform: uppercase;  
font-weight: bold;  
font-size: 42px;
}
.parrafo {  
    text-align: justify;  
    text-transform: capitalize;  
    font-size: 24px;
    }
    #fondo {  
        background-color: #edede9; /* modificar el color a elección */
        }
        p a {  
            color: #d5bdaf;  
            text-decoration: none;
            }
            h1 {
                animation: videocolor 8s infinite linear;
                text-align: center;
            }
            
        
    
