/*Esto es un comentario en CSS*/
body{   
    background-color: f5ebe0; /*Cambia el color de fondo de la pagina*/
}
/*Encabezado*/

/*Parte principal*/


h1 {    
    color: blue;
}
p { 
    color: hotpink;
}



/*Pie*/