
header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.logo {
    width: 200px;
    margin: 20px;
}
header nav ul {
    list-style: none;
    display: flex;
}
ul li {
    margin: 20px;
}
a {
    text-decoration: none;
    color:rgb(0, 0, 0)
}
button {
    display: flex;
    margin: 23px;
    border-radius: 15px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
}